Ricardo Lombera

Professor Feldman

Computing in Context

8 November 2024

In [1]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

# Project 1

## Examing Data on Border Crossings 

Data provided by the [United States Department of Transportation (DOT)](https://www.transportation.gov)

## Part 1 - With Pandas

To begin, I loaded my desired data set detailing border crossings in the United States.

In [246]:
import pandas as pd
url = 'https://data.transportation.gov/api/views/keg4-3bc2/rows.csv'
border_crossings = pd.read_csv(url)

Using [pandas' `.columns()`](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.DataFrame.columns.html#pandas.DataFrame.column), I was able to see what information was availale in the dataset.

In [248]:
border_crossings.columns

Index(['Port Name', 'State', 'Port Code', 'Border', 'Date', 'Measure', 'Value',
       'Latitude', 'Longitude', 'Point'],
      dtype='object')

I determined that the most important information were the columns found in the double square brackets. 

I then created a new table with the selected information and used [pandas' `.head()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head) to ensure the table appeared correctly.

In [252]:
border_crossing_table=border_crossings[['Port Name', 'State','Port Code', 'Border', 'Date', 'Value']]
border_crossing_table.head()

      Port Name    State  Port Code            Border      Date   Value
0          Roma    Texas       2310  US-Mexico Border  Dec 2023      46
1       Del Rio    Texas       2302  US-Mexico Border  Dec 2023    6552
2  Willow Creek  Montana       3325  US-Canada Border  Jan 2024       2
3      Whitlash  Montana       3321  US-Canada Border  Jan 2024      29
4        Ysleta    Texas       2401  US-Mexico Border  Jan 2024  521714

For organization, I sorted by value first, then by date. As a result, any repeated values are organized chronologically.

In [255]:
sorted_bc_table = border_crossing_table.sort_values(['Value','Date'])
sorted_bc_table

       Port Name         State  Port Code            Border      Date    Value
7499      Turner       Montana       3306  US-Canada Border  Apr 1996        0
366924   Raymond       Montana       3301  US-Canada Border  Apr 1996        0
366952     Noyes     Minnesota       3402  US-Canada Border  Apr 1996        0
367108    Tecate    California       2505  US-Mexico Border  Apr 1996        0
367183  Hansboro  North Dakota       3415  US-Canada Border  Apr 1996        0
...          ...           ...        ...               ...       ...      ...
330345   El Paso         Texas       2402  US-Mexico Border  Jun 2000  4235244
316945   El Paso         Texas       2402  US-Mexico Border  Apr 2001  4252128
322035   El Paso         Texas       2402  US-Mexico Border  Feb 2001  4281175
312300   El Paso         Texas       2402  US-Mexico Border  Aug 2000  4291774
309098   El Paso         Texas       2402  US-Mexico Border  Mar 2001  4447374

[395638 rows x 6 columns]

I then utilized the pandas' functions of `mean.()`, `median.()`, and `mode.()` to determine the respective values of the Value numeric column.

In [258]:
sorted_bc_table['Value'].mean()

28849.33123714102

In [260]:
sorted_bc_table['Value'].median()

143.0

In [262]:
sorted_bc_table['Value'].mode()

0    0
Name: Value, dtype: int64

## Part 2 - The Hard Way

To find **mean**  without pandas:
1. I opened the border crossing data set using `.DictReader()`. 
2. I then created the total_value and count variables to represent the Value column and the number of rows, respectively. 
3. I then manually input the formula for mean, taking into account any floats, total sum of numbers in the Values column divided by the number of rows, equating to the same mean as the the pandas `.mean()` function.

In [266]:
import csv
with open('Border_Crossing_Entry_Data.csv', 'r') as file:
    reader = csv.DictReader(file)

    total_value = 0
    count = 0

    for row in reader:
        value = float(row['Value'])
        total_value += value
        count +=1
        
    mean = total_value / count
    print(mean)

28849.33123714102

To find **median** without pandas:
1. Beginning with an empty list, I opened the border crossing data set using `.DictReader()`. 
2. I then sorted all of the values, using float to take into account any numbers with decimals.
4. For the median, the equation takes into account the average of the two middle numbers with n // 2 - 1 being the number before the middle and n // 2 being the middle number. This is then divided by 2 to get the average of the two numbers. This equates to the same median as the the pandas `.median()` function.

In [271]:
value = []

with open('Border_Crossing_Entry_Data.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        value.append(float(row['Value']))

value.sort()

n = len(value)
median = (value[n // 2 - 1] + value [n // 2]) / 2

print(median)

143.0

To find **mode** without pandas:
1. Beginning with an empty list, I opened the border crossing data set using `.DictReader()`. 
2. I then sorted all of the values, using float to take into account any numbers with decimals.
4. For the mode, the [`.most_common()`](https://docs.python.org/3/library/collections.html#collections.Counter.most_common) function returns the most common numbers. However, they return as a tuple so I had to index the first number. This equates to the same mode as the the pandas `.mode()` function.

In [277]:
value = []

with open('Border_Crossing_Entry_Data.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        value.append(float(row['Value']))

counter = Counter(value)

mode = counter.most_common(1)[0][0]

print(mode)

0.0

## Part 3 - Data Visualization

Through the `.unique()` function, I found that the smallest dataset values for qualitative data was states, with 14 unique values, compared to, for example, close to 120 unique values for Port Name.

In [281]:
sorted_bc_table['State'].unique()

array(['Montana', 'Minnesota', 'California', 'North Dakota', 'Washington',
       'Vermont', 'Arizona', 'Maine', 'New York', 'Alaska', 'Idaho',
       'Texas', 'New Mexico', 'Michigan'], dtype=object)

In [283]:
sorted_bc_table['Port Name'].unique()

array(['Turner', 'Raymond', 'Noyes', 'Tecate', 'Hansboro', 'Fortuna',
       'Boundary', 'Baudette', 'Antler', 'Carbury', 'Portal', 'Walhalla',
       'Calexico East', 'Laurier', 'San Ysidro', 'Highgate Springs',
       'Douglas', 'Andrade', 'Van Buren', 'Ferry', 'Neche', 'Sherwood',
       'Whitetail', 'Richford', 'Whitlash', 'Alexandria Bay', 'Morgan',
       'Dalton Cache', 'Skagway', 'Alcan', 'Scobey', 'Limestone',
       'Danville', 'Calais', 'Pinecreek', 'Champlain Rouses Point',
       'Houlton', 'Northgate', 'Porthill', 'St John', 'Progreso', 'Roma',
       'Columbus', 'Fort Kent', 'Buffalo Niagara Falls', 'Sasabe',
       'Point Roberts', 'Fort Fairfield', 'Beecher Falls', 'Hannah',
       'Ogdensburg', 'Piegan', 'Kenneth G Ward', 'Nighthawk', 'Noonan',
       'Opheim', 'Bridgewater', 'Detroit', 'Trout River', 'Santa Teresa',
       'Roseau', 'Del Bonita', 'Brownsville', 'Rio Grande City',
       'Portland', 'Ambrose', 'Nogales', 'International Falls',
       'San Luis', 'Dunseith', 'Metaline Falls', 'Del Rio', 'Oroville',
       'Frontier', 'Massena', 'Sarles', 'Maida', 'Roosville',
       'Grand Portage', 'Warroad', 'Madawaska', 'Tornillo', 'Lukeville',
       'Naco', 'Pembina', 'Westhope', 'Hidalgo', 'Laredo', 'El Paso',
       'Sault Sainte Marie', 'Otay Mesa', 'Sumas', 'Derby Line',
       'Vanceboro', 'Calexico', 'Norton', 'Port Huron', 'Presidio',
       'Jackman', 'Eastport', 'Wildhorse', 'Anacortes', 'Lancaster',
       'Port Angeles', 'Friday Harbor', 'Bar Harbor', 'Ketchikan',
       'Willow Creek', 'Blaine', 'Eagle Pass', 'Cape Vincent',
       'Boquillas', 'Sweetgrass', 'Ysleta', 'Algonac',
       'Cross Border Xpress'], dtype=object)

With this information, I created a new dataframe that had State as my qualitative data and Value as my quantitative data.

In [285]:
sorted_bc_table=border_crossings[['State', 'Value']]
sorted_bc_table

               State   Value
0              Texas      46
1              Texas    6552
2            Montana       2
3            Montana      29
4              Texas  521714
...              ...     ...
395633         Maine       0
395634      New York       0
395635       Montana       0
395636  North Dakota       0
395637    Washington    5028

[395638 rows x 2 columns]

Using `.groupby()`, I found the values for each of the 14 states.

In [288]:
groupby_states = sorted_bc_table.groupby("State").size().reset_index(name="Value")
groupby_states = groupby_states.sort_values("State")
groupby_states

           State  Value
0         Alaska  12785
1        Arizona  22134
2     California  21674
3          Idaho   7608
4          Maine  43505
5       Michigan  12158
6      Minnesota  26230
7        Montana  42453
8     New Mexico   7408
9       New York  24226
10  North Dakota  63844
11         Texas  42044
12       Vermont  18936
13    Washington  50633

I converted the dataframe to a dictionary to keep track of value counts.

In [291]:
dict_groupby_states = groupby_states.to_dict(orient='dict')
print(dict_groupby_states)

{'State': {0: 'Alaska', 1: 'Arizona', 2: 'California', 3: 'Idaho', 4: 'Maine', 5: 'Michigan', 6: 'Minnesota', 7: 'Montana', 8: 'New Mexico', 9: 'New York', 10: 'North Dakota', 11: 'Texas', 12: 'Vermont', 13: 'Washington'}, 'Value': {0: 12785, 1: 22134, 2: 21674, 3: 7608, 4: 43505, 5: 12158, 6: 26230, 7: 42453, 8: 7408, 9: 24226, 10: 63844, 11: 42044, 12: 18936, 13: 50633}}

To try and avoid any issues in the data visualization process, I made sure that the data type of the Value column was an integer.

In [294]:
data_type_value = type(groupby_states['Value'][0])
print(data_type_value)

<class 'numpy.int64'>

Using a for loop, the function went through each row using `.iterrows()`.

The 'State' and 'Value' labels and the symbol of '#' were used for the data visualization. Because the numbers were too large, I divided the total number by 1000 to be more legible for the reader. The number was also added to the end of the '#'s to confirm that the numbers match the dictionary.

In [298]:
for index, row in groupby_states.iterrows():
    state = row['State']
    value = row['Value']
    bar = '#' * (value // 1000)
    print(f"{state}: {bar} ({value})")

Alaska: ############ (12785)
Arizona: ###################### (22134)
California: ##################### (21674)
Idaho: ####### (7608)
Maine: ########################################### (43505)
Michigan: ############ (12158)
Minnesota: ########################## (26230)
Montana: ########################################## (42453)
New Mexico: ####### (7408)
New York: ######################## (24226)
North Dakota: ############################################################### (63844)
Texas: ########################################## (42044)
Vermont: ################## (18936)
Washington: ################################################## (50633)